<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <style type="text/css" media="all">
      input{
        padding:10px 20px 10px 5px;
        border:solid 2px #1792E7;
        outline:none;
        caret-color:#1792E7;
      }
      body{
        line-height:35px;
      }
      form{
        line-height:45px;
      }
      button{
        background-color:#1792E7;
        border:none;
        padding:8px 106px ;
        color:#FFFFFF;
        font-weight:500;

      }
    </style>
</head>

<body>
  <center>
  <img width="12%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png"/>
  <form>
   <input type="email" name = "e" placeholder="email" required>
   <input type="password" name = "p" placeholder="password" required>
   <br/>
   <button type="submit">login</button>
</form>
</center>
</body>

</html>